<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">


    <!-- Poppins Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">

    <title>Prediksi Penyakit</title>


     <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href={{ url_for('static', filename='img/gallery/logo-icon.png') }}>
    <link rel="icon" type="image/png" sizes="32x32" href={{ url_for('static', filename='img/gallery/logo-icon.png') }}>
    <link rel="icon" type="image/png" sizes="16x16" href={{ url_for('static', filename='img/gallery/logo-icon.png') }}>
    <link rel="shortcut icon" type="image/x-icon" href={{ url_for('static', filename='/img/gallery/logo-icon.png') }}>
    <link rel="manifest" href={{ url_for('static', filename='/img/favicons/manifest.json') }}>
    <meta name="msapplication-TileImage" content={{ url_for('static', filename='/img/favicons/mstile-150x150.png') }}>
    <meta name="theme-color" content="#ffffff">


    <style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .border img {
            border-radius: 15px;
            border: 2px solid black;
        }
		
    </style>
</head>

    <body background="{{url_for('static',filename = '/img/illustrations/how-it-works.png')}}">

    <div>
        <br>
        <h1 style="text-align:center" class="fw-semi-bold mb-4">Prediksi&nbsp;<span class="text-light"> Penyakit </span> &nbsp; Daun Cabai & Penangananya</h1>
    </div>

   <br>
   <br>


    <div class="container my-2">
        <div class="row mb-5">

            <div class="col-sm" style="margin-bottom: 23px;">
                <span class="border border-primary">
                    <img src={{url_for('static', filename = '/uploads/images - 2021-05-19T012701.381.jpg' )}} alt="User Image" style="width:500px;height:500px;">
                    

                </span>
            </div>

            <div class="col-sm">

                <div>
                    <h1 style="padding: 15px; background-color: rgb(252, 255, 253); color: rgb(63, 170, 9);"
                        class="text-center mb-5 content-h1 rounded">
                        {{pred_output}} </h1>
                </div>
                <div class="details">
					
					<h4><b> Perawatannya : </b> </h4>
                    <h6>
                        Whitefly adalah Hama dan penyakit yang umum menyerang tanaman cabai adalah hama Thrips (Thrips parvispinus Karny) dan kutu daun (Aphididae). Thrips menyerang tanaman dengan menghisap cairan pada permukaan bawah daun, menyebabkan perubahan warna, mengerut, dan kematian daun. Hama ini juga menjadi vektor penyebaran penyakit virus pada tanaman cabai. Kutu daun, di sisi lain, menyerang pucuk dan daun muda tanaman, menyebabkan kerusakan berupa penggulungan dan pertumbuhan terhambat.
                        Beberapa cara pengendalian hama dan penyakit pada tanaman cabai yang dapat dilakukan antara lain:
                        <p>1.     Penggunaan tanaman perangkap seperti kenikir kuning dan mulsa perak untuk menarik hama dan mencegah penyebaran.</p>
                        <p>2.     Sanitasi lingkungan dengan membuang bagian tanaman yang terserang thrips.</p>
                        <p>3.     Penggunaan perangkap warna kuning yang dipasang di sekitar tanaman untuk menarik dan menangkap thrips. Perangkap ini perlu diganti jika sudah penuh dengan hama.</p>
                        <p>4.     Pemanfaatan musuh alami seperti predator serangga dan patogen yang dapat membantu mengendalikan populasi thrips.</p>
                        <p>5.     Penggunaan pestisida hanya jika populasi hama mencapai ambang pengendalian atau metode pengendalian lain tidak efektif.</p>
					
					
					<br>

                    </h6>
                </div>
            </div>
        </div>


    </div>
</body>

</html>