<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">


    <!-- Poppins Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">

    <title>Prediksi Penyakit</title>

     <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href={{ url_for('static', filename='img/gallery/logo-icon.png') }}>
    <link rel="icon" type="image/png" sizes="32x32" href={{ url_for('static', filename='img/gallery/logo-icon.png') }}>
    <link rel="icon" type="image/png" sizes="16x16" href={{ url_for('static', filename='img/gallery/logo-icon.png') }}>
    <link rel="shortcut icon" type="image/x-icon" href={{ url_for('static', filename='/img/gallery/logo-icon.png') }}>
    <link rel="manifest" href={{ url_for('static', filename='/img/favicons/manifest.json') }}>
    <meta name="msapplication-TileImage" content={{ url_for('static', filename='/img/favicons/mstile-150x150.png') }}>
    <meta name="theme-color" content="#ffffff">


    <style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .border img {
            border-radius: 15px;
            border: 2px solid black;
        }
		
    </style>
</head>

    <body background="{{url_for('static',filename = '/img/illustrations/how-it-works.png')}}">

    <div>
        <br>
        <h1 style="text-align:center" class="fw-semi-bold mb-4">Prediksi&nbsp;<span class="text-light"> Penyakit </span> &nbsp; Daun Cabai & Penangananya</h1>
    </div>

   <br>
   <br>


    <div class="container my-2">
        <div class="row mb-5">

            <div class="col-sm" style="margin-bottom: 23px;">
                <span class="border border-primary">
                    <img src={{url_for('static', filename = '/uploads/yellowisha11.jpg' )}} alt="User Image" style="width:500px;height:500px;">
                    

                </span>
            </div>

            <div class="col-sm">

                <div>
                    <h1 style="padding: 15px; background-color: rgb(252, 255, 253); color: rgb(63, 170, 9);"
                        class="text-center mb-5 content-h1 rounded">
                        {{pred_output}} </h1>
                </div>
                <div class="details">
					
					<h4><b> Perawatannya : </b> </h4>
                    <h6>
                        Yellowish adalah salah satu penyakit penting pada tanaman cabai adalah penyakit kuning yang disebabkan oleh virus gemini.
                        gejalanya berupa helai daun yang mengalami perubahan warna dengan bagian tulang daun memutih (vein clearing), lalu gejala akan berkembang menjadi warna kuning, bagian tulang daun menebal, dan daun mengeriting ke arah atas. infeksi lebih lanjut menyebabkan daun-daun mengecil dan berwarna kuning terang. jika tanaman terserang pada umur muda, biasanya tanaman menjadi kerdil dan tidak berbuah.
                        penyakit yang disebabkan oleh virus memang relatif sulit dikendalikan dan hingga saat ini belum ada pestisida yang dapat mematikan virus, sehingga tindakan yang paling tepat adalah upaya pencegahan. penyakit kuning dapat ditularkan oleh serangga kutu kebul (bemisia tabaci) sehingga serangga penularnya juga harus dikendalikan.
                        <p>langkah-langkah pencegahan dan pengendalian penyakit kuning antara lain:</p>
                        <p>1.penanaman varietas yang agak tahan (karena belum ada yang benar-benar tahan terhadap serangan virus kuning)</p>
                        <p>2.pemberian pupuk organik (pupuk kandang/kompos)</p>
                        <p>3.penggunaan bibit yang sehat dan tidak berasal dari daerah yang pernah terserang penyakit kuning</p>
                        <p>4.pergiliran tanaman dengan tanaman yang bukan inang virus. disarankan setelah menanam cabai tidak menanam tanaman dari famili solanaceae (tomat, kentang, terung,  tembakau), dan cucurbitaceae (mentimun). pergiliran tanaman diusahakan dilakukan secara serempak dalam satu musim tanam</p>

					<br>

                    </h6>
                </div>
            </div>
        </div>


    </div>
</body>

</html>